.btn-content {
  margin: 50px 0 80px;
  padding: 0 70px;

}

.btn-content__btn-more {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  background: #F4F4F4;
  border-radius: 6px;
  width: 100%;
  height: 36px;
  border: none;

}

.btn-content__btn-more:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity linear 0.5s;
}

.movies-form__error{
  position: absolute;
  color: #EE3465;
  font-size: 11px;
  font-weight: 400;
  padding: 0 70px;
  min-width: 250px;
}

@media screen and (max-width: 768px){
.btn-content {
  padding: 0 30px;
}
}

@media screen and (max-width: 450px){
.btn-content {
  padding: 0 10px;
}
}