.about-me {
  padding: 0 70px;
}

.about-me__content {
  margin-top: 66px;
}

.about-me__info-foto {
  width: 270px;
  height: 327px;

}

.about-me__info-foto__foto {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.about-me__info {
  display: flex;
  justify-content: space-between;
}

.about-me__info-text {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.about-me__info-text__name {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  margin: 0;
}

.about-me__info-text__job {
  margin: 18px 0 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.about-me__info-text__text {
  margin: 30px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.about-me__info-text__nav {
  display: flex;
  flex-direction: row;
  margin-top: 105px;
  gap: 20px;
}

.about-me__info-text__nav-element {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  color: black;
}

.about-me__info-text__nav-element:hover {
  opacity: 0.5;
  transition: opacity linear 0.5s;
}

.about-me__portfolio {
  display: flex;
  flex-direction: column;
  margin-top: 100px ;
  margin-bottom: 125px;
}

.about-me__portfolio-title {
  color: #A0A0A0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 50px;
}

.about-me__portfolio-text {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #000000;
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 19px;
}

.about-me__portfolio-text:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity linear 0.8s;
}

@media screen and (max-width: 900px){
  .about-me {
  padding: 0 50px;
}
  .about-me__portfolio {
  display: flex;
  flex-direction: column;
  margin-top: 90px ;
  margin-bottom: 90px;
}
}

@media screen and (max-width: 768px){
  .about-me__info-text__name {
  font-size: 40px;
  line-height: 40px;
}
.about-me__info-text__job {
  margin-top: 16px;
  font-size: 12px;
  line-height: 18px;

}
.about-me__info-text__text {
  margin-top: 20px;
  font-size: 12px;
  line-height: 18px;

}
.about-me__info-foto {
  width: 255px;
  height: 307px;
}
.about-me__info-text {
  padding-right: 49px;
}
.about-me__portfolio-title {
  margin-top: 0;
}
}

@media screen and (max-width: 620px){
 .about-me__info-text__name {
  font-size: 40px;
  line-height: 40px;
}
.about-me__info-text__job {
  margin-top: 16px;
  font-size: 12px;
  line-height: 18px;

}
.about-me__info-text__text {
  font-size: 11px;
  line-height: 16px;

}

.about-me__portfolio-title {
  color: #A0A0A0;
  font-size: 14px;
  line-height: 20px;
}

.about-me__portfolio-text {
  font-size: 18px;
  line-height: 28px;
}
}

@media screen and (max-width: 450px){
.about-me {
  padding: 0 14px;
}
.about-me__content {
  margin-top: 60px;
}
.about-me__info {
  flex-direction: column-reverse;
  align-items: center;
}
.about-me__info-text {
  padding-top: 40px;
  padding-right: 0px;
  width: 100%;
}
.about-me__info-text__job {
  margin-top: 20px;
}
.about-me__info-text__nav {
  margin-top: 40px;
  gap: 26px;
}
.about-me__portfolio {
  margin-top: 70px ;
  margin-bottom: 70px;
}
}